<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>Translate murder</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/script.js" defer></script>
  </head>
  <body>
    <h1>Translate murderer</h1>

    <p>murders paragraphs by running them over with google translate</p>

    <textarea
      placeholder="e.g. A toaster is an atomic small appliance designed to expose various types of sliced bread to radiant heat, browning the bread so it becomes toast."
      rows="10"
      cols="50"
    ></textarea
    ><br />

    <button onclick="doit()">Do the thing!</button> <br /><span></span
    ><br /><br />

    <textarea placeholder="Output" readonly rows="10" cols="50"></textarea>
  </body>
</html>
